name: Maven Deploy to Nexus
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          # Ya NO usamos server-id, username, password aquí. Lo haremos manualmente.
      - name: Crear archivo settings.xml personalizado
        run: |
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>lynk-project</id>
                <username>${{ secrets.PANELNAME }}</username>
                <password>${{ secrets.PANELPASSWORD }}</password>
              </server>
              <server>
                <id>lynk-project-releases</id>
                <username>${{ secrets.PANELNAME }}</username>
                <password>${{ secrets.PANELPASSWORD }}</password>
              </server>
              <server>
                <id>lynk-project-snapshots</id>
                <username>${{ secrets.PANELNAME }}</username>
                <password>${{ secrets.PANELPASSWORD }}</password>
              </server>
            </servers>
            <profiles>
              <profile>
                <id>nexus</id>
                <activation>
                  <activeByDefault>true</activeByDefault>
                </activation>
                <repositories>
                </repositories>
              </profile>
            </profiles>
          </settings>
          EOF

      - name: Deploy to lynk project releases repo
        # Le pasamos explícitamente la ruta del settings.xml que acabamos de crear
        run: mvn clean deploy -U -s ~/.m2/settings.xml -Dmaven.wagon.http.ssl.insecure=true -DskipTests
